/* Google Fonts: Lora (serif), Poppins (sans-serif), Source Sans Pro(sans-serif) */

<style>
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins&family=Source+Sans+Pro&display=swap');
</style>
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
}

body{
	overflow-x: hidden;
	overflow-y: auto;
	background-color: white;
	color:  #00a16;
	font-family: Lora, serif;
	font-size:  1.2vh;
	line-height: 1.8vh;
}

h1, h2, h3{
	font-family:  Poppins, sans-serif;
}