<style>
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Zen+Old+Mincho&display=swap');
</style>

nav{
	position: fixed;
	top: 5px;
	left: 5px;
	font-family: Oswald, sans-serif;
	font-size: 2vh;
	line-height: 3vh;
}
nav > a{
	background-color:#FFBB77;
	color: white;
	padding: 2px 4px;
	text-decoration: none ;
	opacity: 0.6;

}
nav > a:first-of-type{
	width: 2.4vw;

}

nav > a: hover{
	opacity: 0.5;

}

nav > a:not(:first-of-type){
	border-left: solid 2px black;
}

nav > a: visited{
	color: brown;
}